# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Logs
*.log

# IDE
.idea/
*.iws
*.iml
*.ipr
out/
.vscode/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# OS
.DS_Store
Thumbs.db

# 🔐 Local Config (핵심)
src/main/resources/application-local.yaml
application-*.yaml
.env

# 공용 허용
!src/main/resources/application.yaml

# 기타
HELP.md